@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TransactLy</h1>
    <p>See more projects like this on my <a href="https://github.com/kaueciglioni">GitHub</a>.</p>
</div>
